.search-form {
  margin-top: 40px;

  .select2-container {
    width: 218px;
  }

  .select2-choice,
  .select2-search-field{
    height: 42px;
    width: 218px;
  }

  .btn {
    margin-left: 25px;
  }
}

.results {
  margin-top: 40px;
}

.display-none {
  display: none;
}
