.search-new {
  margin-top: 50px;
}

.search-form {
  margin-top: 40px;

  h4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn {
    margin-left: 10px;
  }

  .select2-container {
    width: 200px !important;
  }

  .checkbox label {
    margin-left: 5px;
    margin-right: 5px;

    input {
      display: none;
    }
  }


}

.results {
  margin-top: 40px;
}

.border {
  border: 3px solid #000000;
}
